<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935365127126-mnlbttkh78iqe3i8lv036envc1r0mb4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935365127126-mnlbttkh78iqe3i8lv036envc1r0mb4n</string>
	<key>API_KEY</key>
	<string>AIzaSyB_G2zN1rIe7x4XvQCIvnJ0O5SsxiXqyXI</string>
	<key>GCM_SENDER_ID</key>
	<string>935365127126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seco.app</string>
	<key>PROJECT_ID</key>
	<string>fax-shipping</string>
	<key>STORAGE_BUCKET</key>
	<string>fax-shipping.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935365127126:ios:0995c90c13db4ba9019277</string>
</dict>
</plist>